* {
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    caret-color: transparent;
}

body {
    max-width: 1440px;
    min-width: 960px;
    margin: 0 auto;
}
h2{
    font-size: 24px;
}
h2::after {
    content: url("img/line.png");
    padding: 10px;
}

#service {
    margin: 98px auto;
    display: flex;
    max-width: 1440px;
    align-items: center;
    margin: 98px auto 0;
    padding: 0 124px 0 0;
}
#service > div {
    width: 50%;
}
.service_image {
    max-width: 629px;
    height: auto;
}

#service_message{
    margin-left: 96px;
}
#service_message > h3 {
    font-size: 40px;
    margin: 44px auto;
}
#service_message > p {
    margin-bottom: 36px;
    font-size: 15px;
    letter-spacing: .04em;
}


/*241003*/
#members{
    margin-top: 128px;
    width: 100%;
}
.members_title {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 70px;
}
.members_list > a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    text-decoration: none;
}
.members_list > ul {
    list-style: none;
    display: flex;
    max-width: 1340px;
    margin: 56px auto;
    padding: 0 70px;
}
.members_content {
    width: 33%;
    margin: 20px;
}
.members_content > a {
    text-decoration: none;
    color: #000;
}
#members h3 {
    margin-top: 18px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .01em;;
}
.image_box {
    overflow: hidden;
}
img {
    width: 100%;
}
img:hover {
    transform:scale(1.2,1.2);
}

.members_name {
    margin-top: 12px;
    font-size: 15px;
    letter-spacing: .04em;;
}
.members_link {
    color: red;
    text-decoration: none;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
}


.btn {
    display: block;
    max-width: 237px;
    height: 64px;
    padding-left: 40px;
    position: relative;
    background: #b40015 center right / auto 100% no-repeat;
    border-radius: 2px;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    line-height: 64px;
    letter-spacing: .04em;
    text-decoration: none;
    transition: all .3s;
    overflow: hidden;
}
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;  
    width: 30%; 
    height: 100%;
    background-color: #fff;
    z-index: 0;
    transition: width 0.4s ease;
}

.btn:hover::before {
    width: 100%;  
}
.btn:hover {
    color: #000;
}
.btn span {
    position: relative;
    z-index: 1; 
}